body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    width:100vw;
    max-width: 100%;
    overflow-x: hidden;
}
h1{
    font-size: 28px;
    color: rgb(72, 72, 72);
    font-weight: 700;
}
h2{
    font-size: 20px;
    color: rgb(72, 72, 72);
    font-weight: 700;
}
h3{
    font-size: 16px;
    color: rgb(72, 72, 72);
    font-weight: 700;
}
img{
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}
.icon, .iconFC{
    display:inline-block;
    height:18px;
    padding-left: 7px;
    padding-right: 10px;
}
.icon, .dropdown, .dropdown-big{
    filter: invert(26%) sepia(2%) saturate(1%) hue-rotate(314deg) brightness(93%) contrast(84%);
}
.dropdown, .dropdown-big{
    width: 12px;
}
.dropdown-big{
    width:14px;
    padding-left:15px;
}
.dropdown{
    padding-left:10px;
}
.minor, .small-title{
    font-size: 0.875rem;
}
.minor{
    font-size: 14px;
    font-weight: 500;
    color: #727272;
}
.small-title{
    font-size: 14px;
    font-weight: 700;
}
.feat-title{
    font-size:16px;
    font-weight: 700;
    margin: 0;
}
.thin-txt{
    font-weight: 500;
    font-size: 16px;
    color: #727272;
}
.circled-info{
    font-size: 12px;
    font-weight: 700;
    color:white;
    border-radius: 10px;
    width:max-content;
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 7px;
    padding-right: 7px;
}
#f1 .circled-info, #f4 .circled-info{
    background-color: #e60012;
}
#f2 .circled-info, #f3 .circled-info{
    background-color: #4b5cce;
}
#f5 .circled-info{
    background-color: #9531b9;
}
.nint-line{
    color:#e60012;
    font-size: 15px;
}
.feat-type{
    font-size:12px;
    font-weight: 500;
}
#top-nav, #btm-nav{
    display:inline-flex;
    align-items: center;
    width:100vw;
    border-style:solid;
    border-top-width:0px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width: 1px;
    border-color: #c6c6c9;
}
#top-nav{
    justify-content: space-between;
    height: 52px;
}
#top-nav div, #links>a, #btm-nav a{
    display:inline-flex;
    align-items: center;
}
#btm-nav a{
    margin: 0 20px;
}
#top-nav>div{
    justify-content: space-between;
}
#logo{
    padding-top:18px;
    padding-bottom:18px;
    padding-left:12px;
    padding-right:12px;
    background-color:#e60012;
    justify-content: center;
    align-items: center;
}
#ntndo-logo{
    display:inline-block;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(195deg) brightness(107%) contrast(102%);
}
#logo svg{
    color:white;
}
#search{
    width:450px;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    height:34px;
    margin: 0 10px;
}
#links{
    display:inline-flex;
    width:519px;
    justify-content: right;
    align-items: center;
    margin: 0 10px;
}
#btm-nav{
    display:inline-flex;
    width:100%;
    height:44px;
    justify-content: center;
    align-items: center;
}
#promo{
    margin:auto;
    width:94%;
    max-width:1440px
}
#caption{
    padding-top: 20px;
    color: rgb(72, 72, 72);
    display: inline-flex;
    align-items: center;
}
.nint-button{
    background-color: #e60012;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 23px;
    margin:0 25px;
    border: #e60012;
    border-radius: 10px;

}
#promo-container{
    margin:auto;
    width:100%;
    display:block;
    padding-top: 30px;
    z-index: 1;
}
#promo-bg{
    position: absolute;
    background-image: url("img/Ncom-Centerstage-YIR-2023-BG.png");
    background-repeat: repeat;
    width:100%;
    height: 460px;
    z-index: -1;
}
#yir{
    max-width:100%;
    height: auto;
    display:block;
    border-radius: 15px;
    box-shadow:rgba(72, 72, 72, 0.15) 0px 4px 16px 0px;
}
#gallery-menu{
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-flex;
    width:100%;
    align-items: center;
    justify-content: center;
}
#gallery-menu #left, #gallery-menu #first, #gallery-menu #right{
    line-height: 0px;
    width:31px;
    height:31px;
    border-radius:100%;
    justify-content: center;
    background-color: #484848;
    border: 1px solid #969696;
}
#gallery-menu #second, #gallery-menu #third, #gallery-menu #fourth{
    width:48px;
    height:8px;
    border-radius: 10px;
    justify-content: center;
    background-color: #969696;
    border-style: none;
}
#gallery-menu button{
    margin: 8px;
    border-style: none;
}
.gallery-icon{
    width:16px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(195deg) brightness(107%) contrast(102%);
}
hr{
    border: none;
    height: 0px;
    border-top:1px solid #dadada;
    max-width: 1440px;
    margin: auto;
}
#featured{
    max-width: 1440px;
    margin: auto;
    padding-top: 40px;
    padding-left: 20px;
    width:100%;
    display:block;
}
#featured img{
    height:145px;
    width:260px;
}
#collection{
    display:inline-flex;
    gap:32px;
    width:100%;
    height:300px;
}
.feat-item{
    min-width:260px;
    height:310px;
    border: 1px solid #c6c6c6;
    border-radius: 16px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.top-item, .bottom-item{
    max-width:260px;
    object-fit: cover;
    padding-left: 15px;
    padding-right: 15px;
}
.feat-img, .top-item, .bottom-item {
    width: 100%;
    box-sizing: border-box;
}
.top-item{
    padding-top: 10px;
}
.bottom-item{
    margin-top: auto;
}
#feat-two{
    font-size: 20px;
}
.ninten-section-container{
    margin:auto;
    width:100%;
    display:block;
    padding-top: 30px;
}
.ninten-section{
    margin:auto;
    width:94%;
    max-width:1144px;
}
.ninten-one-img{
    width:100%;
    max-width:100%;
    height: auto;
    display:block;
    border-radius: 15px;
}
.read-more{
    color:#e60012;
    align-items: center;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-color: #e60012;
    width: max-content;
    font-weight: 700;
    font-size: 15px;
}
.ninten-two-img{
    display: inline-flex;
    gap:35px;
}
.ninten-two-img img{
    border-radius: 15px;
    width:100%;
    max-width:100%;
    height: auto;
    display: block;
}
.news-left, .news-right{
    max-width: 50%;
}
.ninten-four-img{
    display: inline-flex;
    gap:20px;
    padding-top: 35px;
}
.four-sections-sect{
    width: 100%;
    max-width: 100%;
    height: 260px;
}
.four-sections-sect img{
    border-radius: 15px;
    width:100%;
    max-width:100%;
    height: auto;
    display: block;
}
#article-button{
    display: inline-flex;
    align-content: center;
    background-color: #e60012;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: #e60012;
    border-radius: 10px;
    gap:10px;
}
#article-button-container{
    padding-top: 60px;
}
#article-button img{
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(128deg) brightness(102%) contrast(101%);
    width:20px;
}
.full{
    width: 100%;
    position: absolute;
}
.character{
    width: 100%;
}
#mario{
    border-color: skyblue;
}
#zelda{
    border-color: lightgray;
}
#splatoon, #metroid, #pokemon{
    border-color:#484848;
}
#kirby hr{
    border-color:lightyellow;
}
#pikmin hr{
    border-color: antiquewhite;
}
#ac hr{
    border-color:skyblue;
}
#eight-gallery{
    width: 100%;
}
.gallery-row{
    display: flex;
    max-width: 100%;
    gap:20px;
}
.gallery-element{
    width: 100%;
}
.nint-link-red{
    color: #e60012;
    border-style: solid;
    border-color: #e60012;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 2px;
}
.nint-secret{
    font-size: 12px;
    color:#484848;
    font-weight: 700;
}
footer{
    padding-top: 40px;
    text-align: center;
}
#unaffiliated{
    font-weight: 900;
    color: #727272;
}